<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Ofrecemos lo que necesitas</h2>
                <hr class="light">
                <p class="text-faded">Desde nuestra fundación en Lima - Perú, hace ya más de 20 años, nos hemos esforzado continuamente en mejorar el nivel de servicio que brindamos a nuestros clientes.</p>
                <a href="#" class="btn btn-default btn-xl">Ir al inicio!</a>
            </div>
        </div>
    </div>
</section>

