<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Ofrecemos lo que necesitas</h2>
                <h4>20 AÑOS DE BUEN SERVICIO.</h4>
                <p>Desde nuestra fundación en Lima - Perú, hace ya más de 20 años, nos hemos esforzado continuamente en mejorar el nivel de servicio que brindamos a nuestros clientes.</p>
                <hr class="light">
                <a href="#" class="btn btn-default btn-xl">Ir al inicio!</a>
                <h4>100% CONDUCTORES PROFESIONALES</h4>
                <ul>
                  <li>Nuestro personal pasa por exámenes psicológicos y técnicos para asegurarnos de darte el mejor servicio.</li>
                  <li>Revisión de antecendentes penales.</li>
                  <li>Cuentan con respectivas capacitaciones en seguridad vial y credenciales vigente para brindar servicio de taxi en Lima Perú.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

