<header>
    <div class="header-content">
        <div class="header-content-inner">
            
            <h1>Su favorito y mejor servicio de taxi</h1>
            <hr>
            <h4>La solución número uno para conseguir taxis para personas y empresas.</h4>
            <p>&nbsp;</p>
            <!--<p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>-->
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Ver más</a>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <iframe id="video-background" width="560" height="315" 
            src="//www.youtube.com/watch?v=evtrHkF4vwk;controls=0&amp;showinfo=0&amp;autoplay=1&amp;html5=1&amp;allowfullscreen=true&amp;wmode=transparent" frameborder="0" allowfullscreen>
            </iframe>
        </div>
    </div>
</header>

