<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Qué ofrecemos</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Seguridad</h3>
                    <p class="text-muted">Monitoreo GPS. Siempre sabemos donde estás. Láminas anti-impacto en las ventanas.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Reservas</h3>
                    <p class="text-muted">Pide tu taxi llamando a nuestra central al 012151414.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Calidad</h3>
                    <p class="text-muted">Utiliza nuestro servicio y comprobarás la excelencia de nuestro servicio. Se aplican descuento por tarifas por volumen.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Mejores tarifas</h3>
                    <p class="text-muted">Utiliza nuestra calculadora de tarifas para determinar el precio de tu servicio.</p>
                </div>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#" class="btn btn-primary btn-xl">Ir al inicio!</a>
            </div>
        </div>
    </div>    
</section>
